* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Arial', sans-serif; /* Замените на желаемый шрифт */
}

body {
    background-color: #d9f7e8; /* Зеленоватый фон */
    font-family: 'Georgia', serif; /* Пример красивого шрифта */
}

.slick-track {
    height: 100vh;
}

.slide {
    border: 4px #fff solid;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для слайдов */
}

.slide img {
    width: 100%; /* Используйте 100%, чтобы изображение занимало всю ширину контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    max-width: 200px; /* Ограничение максимальной ширины */
    max-height: 140px; /* Ограничение максимальной высоты */
    border-radius: 10px;
    object-fit: cover; /* Сохранение пропорций изображения */
}

.slider-arrows {
    width: 40px;
    background-color: #4CAF50; /* Цвет кнопок */
    border-radius: 50%;
    color: white; /* Цвет текста на кнопках */
}

.slider-arrows__prev,
.slider-arrows__next {
    position: absolute;
    top: 20%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.slider-arrows__prev {
    right: 40%;
    transform: rotate(90deg);
}

.slider-arrows__next {
    left: 40%;
    transform: rotate(270deg);
}

.slick-dots {
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 25px;
    background: transparent;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.slick-dots li {
    list-style-type: none;
    border-radius: 50%;
}

.slick-dots .slick-active button {
    background: #4CAF50; /* Цвет активной точки */
    color: #fff;
}

.slick-dots button {
    width: 50px;
    height: 50px;
    border: 2px #fff solid;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    background: #000;
    color: #fff; /* Цвет текста на кнопках */
}

.slick-dots button:hover {
    background: #4CAF50; /* Цвет кнопок при наведении */
    color: #fff;
}

@media (max-width: 460px) {
    .slider-arrows__next {
        left: 30%;
    }

    .slider-arrows__prev {
        right: 30%;
    }
}
