body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="number"], input[type="radio"], select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}

fieldset {
    border: 1px solid #2c3e50;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

legend {
    font-weight: bold;
    color: #2c3e50;
}

h2 {
    color: #27ae60;
    margin-top: 20px;
}

#options-container, #properties-container {
    margin: 20px 0;
}

input[type="radio"] {
    margin-right: 5px;
}

#total-price {
    font-weight: bold;
    font-size: 1.5em;
}
